# Práctica 0, exploración de datos
### Exploración inicial de los tres conjuntos de datos de la tarea 04
##### Alberto Isaac Pico Lara

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import plotly
import missingno as msno
import seaborn as sns
import numpy as np
from math import ceil
import os
pd.set_option('display.max_columns',500)

### Conjunto de datos de los precios de mercado de las principales criptomonedas
[https://www.kaggle.com/philmohun/cryptocurrency-financial-data]

In [2]:
df_crypto = pd.read_csv('..\Conjuntos de datos\consolidated_coin_data.csv', sep = ',', encoding = 'utf8')

In [3]:
df_crypto.head()

  Currency          Date  Open  High   Low Close      Volume   Market Cap
0    tezos  Dec 04, 2019  1.29  1.32  1.25  1.25  46,048,752  824,588,509
1    tezos  Dec 03, 2019  1.24  1.32  1.21  1.29  41,462,224  853,213,342
2    tezos  Dec 02, 2019  1.25  1.26  1.20  1.24  27,574,097  817,872,179
3    tezos  Dec 01, 2019  1.33  1.34  1.25  1.25  24,127,567  828,296,390
4    tezos  Nov 30, 2019  1.31  1.37  1.31  1.33  28,706,667  879,181,680

In [4]:
df_crypto.tail()

         Currency          Date  Open  High   Low Close Volume  Market Cap
28939  bitcoin-sv  May 02, 2013  3.78  4.04  3.01  3.37      0  58,287,979
28940  bitcoin-sv  May 01, 2013  4.29  4.36  3.52  3.80      0  65,604,596
28941  bitcoin-sv  Apr 30, 2013  4.40  4.57  4.17  4.30      0  74,020,918
28942  bitcoin-sv  Apr 29, 2013  4.37  4.57  4.23  4.38      0  75,388,964
28943  bitcoin-sv  Apr 28, 2013  4.30  4.40  4.18  4.35      0  74,636,938

In [5]:
df_crypto.shape

(28944, 8)

In [13]:
df_crypto.dtypes

Currency      object
Date          object
Open          object
High          object
Low           object
Close         object
Volume        object
Market Cap    object
dtype: object

In [21]:
df_crypto['Volume'] = df_crypto['Volume'].str.replace(',', '')
df_crypto['Market Cap'] = df_crypto['Market Cap'].str.replace(',', '')
df_crypto['Open'] = df_crypto['Open'].str.replace(',', '')
df_crypto['High'] = df_crypto['High'].str.replace(',', '')
df_crypto['Low'] = df_crypto['Low'].str.replace(',', '')
df_crypto['Close'] = df_crypto['Close'].str.replace(',', '')

In [22]:
df_crypto.head()

  Currency          Date  Open  High   Low Close    Volume Market Cap
0    tezos  Dec 04, 2019  1.29  1.32  1.25  1.25  46048752  824588509
1    tezos  Dec 03, 2019  1.24  1.32  1.21  1.29  41462224  853213342
2    tezos  Dec 02, 2019  1.25  1.26  1.20  1.24  27574097  817872179
3    tezos  Dec 01, 2019  1.33  1.34  1.25  1.25  24127567  828296390
4    tezos  Nov 30, 2019  1.31  1.37  1.31  1.33  28706667  879181680

In [23]:
df_crypto[['Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap']] = df_crypto[['Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap']].astype(float)

In [27]:
df_crypto.dtypes

Currency       object
Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume        float64
Market Cap    float64
dtype: object

In [28]:
df_crypto[['Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap']].describe()

,Open,High,Low,Close,Volume,Market Cap
count,28944.000000,28944.000000,28944.000000,28944.000000,2.894400e+04,2.894400e+04
mean,300.719915,309.832983,290.858557,300.947534,8.133058e+08,7.194826e+09
std,1373.884681,1416.598573,1325.072633,1374.461221,3.059516e+09,2.469322e+10
min,0.001352,0.001509,0.001227,0.001357,0.000000e+00,0.000000e+00
25%,0.205108,0.212444,0.196527,0.205346,2.418700e+05,6.345143e+07
50%,2.995000,3.090000,2.880000,2.980000,5.212684e+06,3.453673e+08
75%,24.430000,25.530000,23.270000,24.430000,1.554764e+08,3.422403e+09
max,19475.800000,20089.000000,18974.100000,19497.400000,5.350913e+10,3.265025e+11